<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.overflowdt.minekkit"
    android:versionCode="1"
    android:versionName="@string/version" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ar.com.overflowdt.minekkit.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="ar.com.overflowdt.minekkit.acercade.AcercaDe"
            android:label="@string/label_acercade" >
        </activity>
        <activity
            android:name="ar.com.overflowdt.minekkit.mapa.Mapa"
            android:label="@string/label_mapa" ></activity>
                <!-- All Product Activity -->
        <activity
            android:name="ar.com.overflowdt.minekkit.recompensas.AllRecompensasActivity"
            android:label="@string/label_recompensas" >
        </activity>
        <activity
            android:name="ar.com.overflowdt.minekkit.recompensas.SingleRecActivity"
            android:label="@string/label_recompensas" >
        </activity>
        <activity 
            android:name="ar.com.overflowdt.minekkit.denuncia.Denuncia"
            android:label="@string/label_denuncias">
        </activity>
 
    </application>

</manifest>
