<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.overflowdt.minekkit"
    android:versionCode="1"
    android:versionName="@string/version">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_mkapp"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mkapp_style">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".activities.AcercaDeActivity"
            android:label="@string/label_acercade"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>
        <activity
            android:name=".activities.RuletaActivity"
            android:configChanges="orientation|screenSize"
            android:label="Ruleta"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>
        <activity
            android:name=".activities.NewPMActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/newPM"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>
        <activity
            android:name=".activities.BrowserActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/label_wiki">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>
        <activity
            android:name=".activities.OnlineListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/playersOnline"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>

        <!-- All Product Activity -->
        <activity
            android:name=".activities.AllRecompensasActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/label_recompensas"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>
        <activity
            android:name=".activities.SingleRecActivity"
            android:label="@string/label_recompensas"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.AllRecompensasActivity" />
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/profile"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>
        <activity
            android:name=".activities.DenunciaActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/label_denuncias"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>
        <activity
            android:name=".activities.WikiMainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/label_wiki"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>
        <activity
            android:name=".activities.AllPmsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/label_pms"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>
        <activity
            android:name=".activities.SinglePMActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/label_pms"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.AllPmsActivity" />
        </activity>
        <activity
            android:name=".activities.ClaimRecoplasActivity"
            android:label="@string/label_recoxdia"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>
        <activity
            android:name=".activities.ConfigActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/label_config"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.overflowdt.minekkit.activities.DrawerActivity" />
        </activity>
        <activity
            android:name=".activities.DrawerActivity"
            android:label="Noticias"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="ar.com.overflowdt.minekkit.notification.NotificationService"
            android:enabled="true" />
        <receiver android:name="ar.com.overflowdt.minekkit.notification.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="234da82ecda116b91b4dcb453a02b1ce4b6887b5" />
    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
